.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock-container {
  border: 1px solid red;
  height: 20em;
  width: 20em;
  background-size: 88%;
  border-radius: 50%;
  margin-top: 5%;
  background: url(ios_clock.svg);
}
